.div1{ border: 20px solid gray;
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: 400px;
    background-image: url(../new1.jpg);
    /* background-repeat: repeat; */
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-position-x: left; */
    /* background-position-x: center; */
    /* background-position-x: right; */
    /* background-position-y: bottom; */
    /* background-position-y: top; */
    /* background-position-y: center; */
    /* background-attachment: fixed;  ???? */
    /* background-size: auto; */
    /* background-size: contain; */
    /* background-size: cover; */
    /* background-clip: border-box; */
    /* background-clip:padding-box ; */
    /* background-clip:content-box ; */
    /* background-origin: padding-box; */
    /* background-origin: border-box; */
    /* background-origin: content-box; */
} 
.div2{ 
    width: 400px;
    height: 300px;
background: #cccccc;
/* background-image: linear-gradient(red, black);  */
background-image: linear-gradient(red,yellow,black);
/* background-image: repeating-linear-gradient(red,rgb(82, 100, 3) 15%,black 30%); */
}

.div3{
    width: 400px;
    height: 300px;
    
/* background-image: radial-gradient(red,black); */
/* background-image: radial-gradient(gray,green,blue); */
background-image: repeating-radial-gradient(rgb(255, 102, 0),rgb(0, 60, 255) 15%, rgb(21, 255, 0) 
25%);
}